<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        .isFinish {
            background-color: #d58512 !important;
        }

        .itemcount {
            display: block;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            border-radius: 10px;
            float: left;
            background-color: #d9edf7;
        }
        </style>
</head>
<div class="container text-center" id="app">

    <h2 class="text-center">{{title}}</h2>
    <div class="row  row-centered">
        <div class="col-md-4  col-md-offset-4">
            <form class="form" role="form">
                <div class="form-group">
                    <label for="toitem">添加</label>
                    <input class="form-control" type="text" id="toitem" v-model="newitem" @keyup.enter="addItem()" placeholder="輸入完成請按Enter">
                    <input type="text" style="display: none">
                </div>
            </form>
        </div>
    </div>
    <div class="row  row-centered">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">代辦事項：</div>
                <div class="panel-body">
                    提醒:完成事項記得勾選紀錄～
                    <a href="#" v-for="item in items" class="list-group-item" v-on:click="toogleFinsih(item)">
                        <span class="itemcount">{{item.id}}</span>
                        {{item.lable}}
                        <span class="badge" v-bind:class="{isFinish:item.isFinish}">√</span>
                    </a>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-info btn-sm" v-on:click="clearItem">清空所有代辦事項</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var todoList = 'todolistData';

    var toDoListData = (function () {
        return ({
            add: function (dataval) {
                localStorage.setItem(todoList, JSON.stringify(dataval));
            },
            get: function () {
                return JSON.parse(localStorage.getItem(todoList));
            },
            remove: function () {
                localStorage.removeItem(todoList);
            },
            clear: function () {
                localStorage.clear();
            }
        });
    })();

    var app = new Vue({
        el: '#app',
        data: {
            title: '代辦事項',
            items: toDoListData.get() || [],
            newitem: ''
        },
        methods: {
            addItem: function () {
                var that = this;
                this.items.push({
                    id: that.items.length + 1,
                    lable: that.newitem,
                    isFinish: false
                });
                console.log(this.items);
                toDoListData.add(this.items);
                this.newitem = '';
            },
            toogleFinsih: function (item) {
                item.isFinish = !item.isFinish;
                toDoListData.add(this.items); //因為localStorage裡是已key by vlaue 儲存，所以可以透過add實作修改

                let isFinishCcount = 0;
                for(var index in this.items){
                    if(this.items[index].isFinish){
                        isFinishCcount++;  
                    }
                }

                let unfinishedCount = (this.items.length - isFinishCcount);
                if(unfinishedCount == 0){
                    alert("登登登!恭喜做完所有事情可以耍廢了");
                }else{
                    alert("還有"+ unfinishedCount + "事項要做，加油");
                }
            },
            clearItem: function () {
                this.items = [];
                toDoListData.remove();
            }
        }
    })
</script>
</html>